.user {
  flex: 4;
  padding: 20px;
}
.userTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.userContainer {
  display: flex;
}
.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}
.userShowTop {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.userShowTopTitle {
  display: flex;
  flex-direction: column;
}
.userShowUsername {
  font-weight: 600;
}
.userShowUserTitle {
  font-weight: 300;
}
.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: #c2c2c2;
}
.userShowInfo {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #444;
}
.userShowIcon {
  font-size: 16px !important;
  margin-right: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}
.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.userUpdateFormLeft {
  flex: 2;
  margin-right: 20px;
}
.userUpdateFormRight {
  flex: 1;
  margin-top: 20px;
}
.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}
.userUpdateInput {
  border: none;
  border-bottom: 1px solid rgba(0, 128, 128, 0.2);
  padding: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.userUpdateInput:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid teal;
}
.userUpdateFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.userUpdateUpload {
  position: relative;
}
.userUpdateImg {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 25%;
  object-fit: cover;
}
.userUpdateUploadIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(194, 194, 194, 0.9);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userUpdateButton {
  width: 100px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
