.newProduct {
  flex: 4;
}
.newProductForm {
  display: flex;
  flex-wrap: wrap;
}
.newProductItem {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0 0;
  width: 500px;
}
.newProductItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #c2c2c2;
}

.newProductGender > input {
  margin-top: 15px;
}
.newProductGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}
.newProductItem > input,
select {
  border: 1px solid rgba(0, 128, 128, 0.3);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.newProductItem > input:focus,
select:focus {
  outline: none;
  border: 2px solid teal;
}
.newProductButton {
  width: 200px;
  border: none;
  background-color: teal;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
