.productList {
  flex: 4;
}
.productListItem {
  display: flex;
  align-items: center;
}
.productListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.productListActions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.productListIcon {
  color: black;
  cursor: pointer;
}
